/*
Markus Erkkilä, Matleena Autio, Santeri Pirilä, Akseli Keinänen, Vadim Panfilov
31.3.2021
*/

/* GLOBAL STYLES */

/* HEADER  */

.logo {
    width: 20em;
    margin: auto;
}

/* MAIN */

main {

}

/* FOOTER */

footer {
    /* Absolute position only for testing */
    position: absolute;
    bottom: 0;
    background-color: #7D657A;
    width: 100%;
    padding: 10px;
}

.smiley {
    width: 5em;
}
